.titles {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    line-height: 1.2;
    & h2 {
        margin-left: 0;
    }
    @include desktop {
        text-align: left;
    }
    @include tablet {
        text-align: left;
    }
}